<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="group.g203.justalittlefit" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="group.g203.justalittlefit.activity.Home"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="group.g203.justalittlefit.activity.Assign"
            android:label="@string/title_activity_assign"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="group.g203.justalittlefit.activity.CreateEditWorkout"
            android:label="@string/title_activity_create_edit_workout"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="group.g203.justalittlefit.activity.CreateEditExercise"
            android:label="@string/title_activity_create_edit_exercise"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="group.g203.justalittlefit.activity.CreateEditSet"
            android:label="@string/title_activity_create_edit_set"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="group.g203.justalittlefit.activity.ChooseWorkoutDate"
            android:launchMode="singleTask"
            android:label="@string/view_title_string"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ViewActivity"
            android:label="@string/title_activity_view"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ViewChooserActivity"
            android:label="@string/title_activity_view_chooser"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
