<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ecap.studio.group.justalittlefit" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.Home"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Assign"
            android:label="@string/title_activity_assign"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.CreateEditWorkout"
            android:label="@string/title_activity_create_edit_workout"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.CreateEditExercise"
            android:label="@string/title_activity_create_edit_exercise"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
